<h1>Edit your profile</h1>
<%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail' %>
  </div>
  <%= f.submit 'Update Profile' %>
<% end %>
