<h1 class='text-center mt-2'>Edit your profile</h1>
<%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
  <div class='small-middle-container container-border'>
    <div class="form-outline">
      <div class="form-outline">
        <%= f.label :first_name, class: 'form-label h5' %><br />
        <%= f.text_field :first_name, presence: true, autofocus: true,
         class: "form-control" %>
      </div>
      <div class="form-outline mb-4">
        <%= f.label :last_name, class: 'form-label h5' %><br />
        <%= f.text_field :last_name,presence: true, autofocus: true,
         class: "form-control" %>
      </div>
      <div class="form-outline mb-4">
        <%= f.label :email, class: 'form-label h5' %><br />
        <%= f.email_field :email,presence: true, autofocus: true,placeholder: 'E-mail',
         autocomplete: "email", class: "form-control" %>
      </div>
      <div class='d-flex align-items-center'>
        <div class='col-6'>
          <%= f.label 'Your Avatar', class: 'form-label h5' %>
          <%= f.file_field :avatar, class: 'd-block' %>
        </div>
        <p class='col-6 d-flex justify-content-center'>
          <label>
            <%= f.check_box :remove_avatar %>
            Remove avatar
          </label>
        </p>
      </div>
      <div class="actions d-flex justify-content-center">
        <%= f.submit "Edit", class: "btn btn-primary btn-block mb-3 mt-3", style: 'width: 100px' %>
      </div>
    </div>
  </div>
<% end %>
