<header class="bg-info">
  <div class='container d-flex align-items-center' style="height: 4.3rem">
    <div class="w-100 d-flex flex-wrap align-items-center justify-content-around">
      <ul style="width: 33%" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0 gap-3">
        <li><%= link_to 'Home', root_path, class: 'h4 text-color  text-decoration-none' %></li>
      </ul>
      <ul style="width: 33%" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 gap-3">
        <li><%= link_to 'RomBnB', root_path, class: 'display-6 fw-bold text-white text-decoration-none' %></li>
      </ul>
      <div style="width: 33%" class="hehe dropdown d-flex justify-content-end">
        <a class="hehe-link tn dropdown-toggle text-white" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <div class='h5 d-inline text-white'><%= @user.first_name %> <%= @user.last_name %></div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><%= link_to "Edit profile", edit_user_path(@user), class: "dropdown-item" %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
