<div class="mt-5 container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-12 col-md-6">
        <div class="room-item shadow rounded overflow-hidden">
          <div class="p-4 mt-2">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div>
                <% if s.hotel.main_image? %>
                  <%= image_tag("#{s.hotel.main_image}", class: "img-fluid border-end me-3 pe-3") %>
                <% else %>
                  <%= image_tag(s.hotel.images[0].url, class: "img-fluid border-end me-3 pe-3") ||  image_tag("https://fakeimg.pl/300x200/", class: "img-fluid border-end me-3 pe-3") %>
                <% end %>
              </div>
              <div class='ms-3'>
                <h5 class="mb-3"><%=link_to s.hotel.name, hotel_path(s.hotel) %></h5>
                <p class="text-body text-wrap w-75"><%= s.hotel.description %></p>
                <p class="text-body text-wrap w-75"><%= s.hotel.address %></p>
                <p class="text-body text-wrap w-75"><%= s.hotel.city %></p>
                <div class="d-flex flex-wrap w-75">
                  <%= render s.hotel.labels %>
                </div>
              </div>
              <div class="ps-2">
                <span>Rating: <%= Review.where(room_id: s.hotel.rooms.map{|room| room.id}).average(:rating).to_i %> <small class="fa fa-star text-warning"></small></span>
                <% if s.hotel.rooms.empty? %>
                  <p>Haven't any rooms</p>
                <% else %>
                  <% s.hotel.rooms.minmax{ |a, b| a.price <=> b.price }.each do |room| %>
                    <p class='text-secondary p-2'><%= cycle('The cheapest room: ','The most expensive: ') %> <span class='text-dark fw-light'><%= number_to_currency(room.price) %></span></p>
                  <% end %>
                <% end %>
                <% if @user.owner? %>
                  <div class="d-flex justify-content-between">
                    <p><%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_hotel_room_path(hotel_id: s.hotel.id), class: 'btn btn-success btn-sm text-decoration-none text-white'%></p>
                    <p><%= link_to "Edit", edit_hotel_path(s.hotel), class: 'btn btn-sm btn-dark rounded me-2'%></p>
                    <p><%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, hotel_path(s.hotel), data: { "turbo-method": :delete }, class: 'btn btn-sm btn-danger rounded' %></p>
                  </div>
                <% end %>
                <%= link_to "View More", hotel_path(s.hotel), class: "btn btn-sm btn-primary rounded py-2 px-4" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
