<div class='d-flex'>
  <% @hotel.images.each_with_index do |img, index| %>
    <div class='d-flex justify-content-end ms-3 me-1 shadow mb-5 bg-body rounded'>
      <%= image_tag(img.url, class: 'image_size') %>
      <%= link_to '<i class="fa-solid fa-x"></i>'.html_safe, hotel_image_path(@hotel, index), data: { "turbo-method": :delete }, class: 'p-1 position-absolute text-danger' %>
    </div>
  <% end %>
</div>
<%= form_for @hotel, url: hotel_images_path(@hotel), method: :post do |f| %>
  <div class='field'>
    <%= f.file_field :images, multiple: true %>
  </div>
  <div class='actions'>
    <%= f.submit "Add More Images" %>
  </div>
<% end %>
<%= form_with model: @hotel do |f| %>
  <div class='container'>
    <div class='d-flex justify-content-center gap-5'>
      <div>
        <div class="form-outline mb-4">
          <%= f.label :name, class: 'form-label h5 d-block' %>
          <%= f.text_field :name, autofocus: true, presence: true, class: "form-control" %>
        </div>
        <div class="form-outline mb-4">
          <%= f.label :address, class: 'form-label h5 d-block' %>
          <%= f.text_field :address, autofocus: true, presence: true, class: "form-control" %>
        </div>
        <div class="form-outline mb-4">
          <%= f.label :description, class: 'form-label h5 d-block' %>
          <%= f.text_area :description, autofocus: true, presence: true, rows: 3, class: "form-control"  %>
        </div>
      </div>
      <div>
        <div class="form-outline mb-4">
          <%= f.label :city, class: 'form-label h5 d-block' %>
          <%= f.text_field :city, autofocus: true, presence: true, class: "form-control" %>
        </div>
        <div class="form-outline mb-4">
          <%= f.label :labels %>
          <%= f.collection_select :label_ids, @labels, :id, :title , {}, multiple:  true %>
        </div>
        <div class="actions">
          <%= f.submit "Update", class: "btn btn-info btn-block mb-3 mt-3", style: 'width: 100px' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
