<h4 class='text-center text-secondary'><%= pluralize(@hotels.count, "hotel") %> found</h4>
<% @hotels.each do |hotel| %>
  <div class='d-flex container mt-5 container-border p-4'>
    <div class='me-4 col-3 d-flex align-items-center'>
      <% if hotel.main_image? %>
        <%= image_tag("#{hotel.main_image}") %>
      <% else %>
        <%= image_tag(hotel.images[0].url) %>
      <% end %>
    </div>
    <div class='col-9 text-dark d-flex justify-content-between'>
      <div>
        <div class='mb-auto p-2'>
          <h3><%=link_to hotel.name, hotel_path(hotel) %></h3>
          <p class='font-weight-light text-wrap w-75'><%= hotel.description %></p>
        </div>
        <div class="p-2 text-secondary">
          <h6><%= hotel.address %></h6>
          <h6><%= hotel.city %></h6>
        </div>
        <div class='d-flex flex-wrap w-75'>
          <%= render hotel.labels %>
        </div>
      </div>
      <div>
        <p class='p-2'>Rooms:</p>
        <% if hotel.rooms.empty? %>
          <h4>Haven't any rooms</h4>
        <% else %>
          <% hotel.rooms.minmax{ |a, b| a.price <=> b.price }.each do |room| %>
            <h5 class='text-secondary p-2'><%= cycle('From: ','The most expensive: ') %> <span class='text-dark'><%= number_to_currency(room.price) %></span></h5>
          <% end %>
        <% end %>
        <% if @user.owner? %>
          <div class='d-flex gap-3'>
            <p><%= link_to "Add room", new_hotel_room_path(hotel_id: hotel.id), class: 'btn btn-success btn-sm text-decoration-none text-white'%></p>
            <p><%= link_to "Edit", edit_hotel_path(hotel), class: 'btn btn-warning btn-sm text-decoration-none text-white'%></p>
            <p><%= link_to 'Delete', hotel_path(hotel), data: { "turbo-method": :delete }, class: 'btn btn-danger btn-sm' %></p>
          </div>
        <% end %>
        <h4 class='btn btn-info' ><%= link_to "Show more", hotel_path(hotel), class: 'text-decoration-none text-white'%></h4>
      </div>
    </div>
  </div>
<% end %>
