<h4 class='text-center text-secondary'><%= pluralize(@hotels_count, "hotel") %> found</h4>


<div class='d-flex container mt-5 container-border p-4'>
  <div class='col-sm-3 d-flex align-items-center'>
    <img src="https://fakeimg.pl/250x200/">
  </div>
  <div class='col-sm-9 text-dark d-flex align-items-start flex-column bd-highlight'>
    <% @hotels.each do |hotel| %>
      <div class='mb-auto p-2'>
        <h3><%= hotel.name %></h4>
        <p class='font-weight-light text-wrap w-75'><%= hotel.description %></p>
      </div>
      <div class="p-2 text-secondary">
        <h6><%= hotel.address %></h6>
        <h6><%= hotel.city %></h6>
      </div>
    <% end %>
  </div>
</div>
