<h4 class='text-center text-secondary'><%= pluralize(@hotels_count, "hotel") %> found</h4>
<% @hotels.each do |hotel| %>
  <div class='d-flex container mt-5 container-border p-4'>
    <div class='me-2 col-sm-3 d-flex align-items-center'>
      <img src="https://fakeimg.pl/250x200/">
    </div>
    <div class='text-dark d-flex align-items-start justify-content-between'>
      <div>
        <div class='mb-auto p-2'>
          <h3><%=link_to hotel.name, hotel_path(hotel) %></h4>
          <p class='font-weight-light text-wrap w-75'><%= hotel.description %></p>
        </div>
        <div class="p-2 text-secondary">
          <h6><%= hotel.address %></h6>
          <h6><%= hotel.city %></h6>
        </div>
        <div class='d-flex flex-wrap w-75'>
          <%= render hotel.labels %>
        </div>
      </div>
      <div>
        <p class='p-2'>Rooms:</p>
        <% hotel.rooms.minmax.each do |room| %>
          <h5 class='text-secondary p-2'><%= cycle('From: ','The most expensive: ') %> <span class='text-dark'><%= room.price %></span>  dollars</h5>
        <% end %>
        <h4 class='btn btn-info' ><%= link_to "Show more", hotel_path(hotel), class: 'text-decoration-none text-white'%></h4>
      </div>
    </div>
  </div>
<% end %>
